.main_container{
  width: 100%;
}

.back_button{
  color: white;
  position: fixed;
  z-index: 999999;
  top: 13px;
  left: 15px;
  font-size: 25px !important;
}
.black{
  color: black !important;
}
.thumbnail_container{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1 !important;
  
}
.thumbnail_container .thumbnail_image_container{
  position: relative;
  width: 100%;
  height: 260.6px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.thumbnail_overlay{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  margin: 55px 30px 0 30px;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.thumbnail_overlay.white{
  color: white;
}
.thumbnail_overlay.black{
  color: black;
}
/* .thumbnail_overlay h2{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 1px;
  line-height: 1.38;
  font-size: 25px;
} */
.thumbnail_overlay h2{
  font-family: 'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.thumbnail_overlay h3{
  font-family: 'Jua', sans-serif !important;
  margin-top: 5px;
  font-size: 28px;
  word-break: keep-all;
  line-height: 1.2;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  width:100%;
  height: 65px;
  -webkit-box-orient: vertical;
}
.thumbnail_overlay h4{
  font-family: 'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.2;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  width:100%;
  /* height: 65px; */
  -webkit-box-orient: vertical;
}
.thumbnail_overlay h5{
  font-family: 'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  margin-top: 15px;
}

.info_container{
  margin-top: -10px;
  z-index: 99 !important;
  background-color: white;
  border-radius: 10px;
  padding: 40px 20px;
}
.info_container h3{
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}
.info_container h1{
  font-family: 'Jua', sans-serif !important;
  font-size: 20px;
  line-height: 1.2;
}
.info_container h2{
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.2;
}
.info_sub_container{
  margin-top: 40px;
  background-color: rgb(250, 250, 250);
  border: 2px solid rgb(235,235,235);
  padding: 10px 25px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info_sub_container .item_container{
  margin: 12px 0;
  width: 100%;
}
.info_sub_container .item_container h1{
  width: 100px;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: 'Jua', sans-serif !important;
  color: #444;
}
.info_sub_container .item_container p{
  line-height: 1.2;
  word-break: keep-all;
  color: #555;
  font-size: 15px;
}

.content_container{
  padding: 40px 25px;
  border-bottom: 5px solid rgb(243, 243, 243);
}
.content_container h1{
  font-size: 18px;
  /* font-family:'Jua', sans-serif !important;; */
  font-weight: bold;
  margin-bottom: 15px;
}
.content_container p{
  white-space:pre-wrap;
  line-height: 1.3;
}

.timeline_container{
  margin-top: 30px;
}
.no_schedule{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: #555 !important;
}
.no_schedule p{
  margin-top: 20px;
  font-size: 16px;
}
.submit_container{
  position: sticky;
  bottom: 65px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px 22px 20px;
  /* background-color: #5316b5; */
  background-color: white;
  /* height: 50px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.backdrop_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 999999999999 !important;
}

.alarm_container{
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  flex-wrap: wrap;
  overflow: hidden;
}
.alarm_container h1{
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 19px;
  color: #444;
}
.alarm_container h2{
  margin: 20px 0 0 0 ;
  color: #555;
  font-size: 16px;
  width: 100%;
  line-height: 1.5;
}
.alarm_container p{
  color: #666;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.team_select{
  width: 300px;
  margin: 10px  0 40px 0;
}
.alarm_container h3{
  color: white;
  background-color: #814ad8;
  width: 100%;
  padding: 15px 0;
}
.private{
  text-decoration: underline;
  color: blue !important;

}

 .private_container{
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 500px;
    color: black;
    position: relative;
 }
 .private_container h1{
  font-weight: bold;
  font-size: 19px;
  margin-top: 20px;
 }
 .close_icon{
  position: absolute;
  top: 18px;
  right: 20px;
 }
 .alarm_container h4{
  color: white;
  background-color: #814ad8;
  width: 60%;
  padding: 15px 0;
}
.alarm_container h5{
  color: white;
  background-color: rgb(175, 175, 175);
  width: 40%;
  padding: 15px 0;
}

@media (min-width: 550px) {
  .thumbnail_overlay{
    width: 80%;
  }
}
/* @media (max-width: 520px) {
  .thumbnail_container .thumbnail_image_container{
    height:350px;
  }
  .thumbnail_overlay{
    width: 90%;
    margin-top:70px;
  }
  .thumbnail_overlay h2{
    font-size: 22px;
  }
  .thumbnail_overlay h3{
    font-size: 38px;
    line-height: 1.5;
  }
  .thumbnail_overlay h4{
    font-size: 18px;
  }
} */