
.single_checkbox_container{
  /* width: 100%; */
  height: fit-content;
  margin-top: 25px;
  /* padding: 40px 15px; */
  /* border-bottom: 5px solid rgb(232, 232, 232); 보더체인지*/
}
.single_checkbox_container h1{
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.single_checkbox_container h1 p{
  font-size: 12px;
  color: red !important;
  margin-left: 5px;
  margin-top: 10px;
}


.multiple_checkbox_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address_container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.input_container{
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.post_dialog_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
}

.image_container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 100%;
}
.image_container .title_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.image_container .title_container h1{
  font-size: 16px;
  color: #555;
  margin-right: 10px;
}
.image_container p{
  font-size: 12px;
  color: #555;
  word-break: keep-all; 
  line-height: 14px;
}



.margin_add{
  margin-bottom: 35px;
}
.margin_normal{
  margin-bottom: 20px;
}