.main_container{
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  position: fixed;
  top:0
}
.header_container{
  height: 140px;
  background-color: #814ad8;
  color: #EEEEEE;
  position: relative;
  width: 100%;
  /* margin-bottom: 50px; */
  z-index: 9999999999;
  box-shadow: 0 0 9px 0 rgb(16, 16, 16)
}
.button_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.login_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
}
.login_container p{
  font-size: 13px;
  color: #999; 
  margin-bottom: 8px;
}
.profile_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}
.profile{

}
.profile h1{
  margin-bottom: 7px;
  font-size: 22px;
}
.profile p{
  color: #EEEEEE;
  font-size: 14px;
}


.banner_container{
  /* padding: 10px 0; */
  background-color: #fff;
  padding-bottom: 0px;
  border-bottom: 5px solid #ececec;
}