

.main_container{
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: .5px solid rgb(211, 211, 211);
  z-index: 99999999;
}
.home_container{
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute !important;
  bottom: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  background-color: #804dd1 !important;
  color: white !important;
  border-radius: 50% !important;
  max-width: 55px !important;
  min-width: 55px !important;
  height: 55px !important;
  /* position: absolute !important;
  bottom: 5px !important; */
}
.icon{
  font-size: 25px !important;
  font-weight: lighter !important;
}
.home_icon{
  font-size: 28px !important;
}