/* Set up basic styles for the loader component */

.loader {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader_text {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* Create the spinner animation */

.loader_spinner {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
