.backdrop_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.backdrop_container p{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.alarm_container{
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 50px;
  flex-wrap: wrap;
  overflow: hidden;
}
.alarm_container h1{
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 19px;
  color: #444;
}
.alarm_container h2{
  margin: 40px 0;
  color: #555;
  font-size: 16px;
  width: 100%;
}
.alarm_container h3{
  color: white;
  background-color: #814ad8;
  width: 100%;
  padding: 15px 0;
}