.content_container{
  padding: 25px 24px;
}
.content_container h1{
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 12px;
}
.content_container h2{
  margin-bottom: 5px;
}
.content_container h3{
  font-size: 15px;
  font-weight: bold;
  margin: 30px 0 22px 5px;
}
.content_container p {
  margin: 30px 0 2px 5px;
  font-size: 15px;
  font-weight: bold;
}

.button_container{
  margin-top: 40px;
}

.backdrop_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.backdrop_container p{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.backdrop_container h1{
  margin-top: 18px;
  font-size: 18px;
}
.backdrop_container h2{
  margin-top: 8px;
  font-size: 18px;
}