.main_container{
  width: 100vw;
  /* height: calc(100vh - 120px); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main_container .arrow{
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #777;
  padding: 10px 0;
  transform: rotate(-90deg);
  margin-bottom: 50px;
}

.img_container{
  max-width: 250px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  height: fit-content !important;

}
.img_container h1{
  position:absolute;
  top: 12px;
  left: 13px;
  color: white;

}