.item_container{
  border-bottom: 3px solid rgb(247, 247, 247);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 12px 15px 20px; 
  font-size: 17px;
  align-items: center;
  position: relative;
}
.item_container2{
  border-bottom: 1px solid rgb(247, 247, 247);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 12px 15px 35px; 
  font-size: 17px;
  align-items: center;
  position: relative;
}
.img_container{
  border-radius: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover !important;
  position: relative;
}
.text_container{
  padding-left: 22px;
}
.name{
  /* font-weight: bold; */
}
.info{
  font-size: 13px;
  color: rgb(138, 138, 138);
  margin-top: 6px;
}
.arrow_container{
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: rgb(176, 176, 176)
}