.swiper_container{
  width: 100%;
  height: 290px;
  margin: 12px 0px 12px 0px;
}
.swiper_container_anouncement{
  width: 100%;
  height: 245px;
  margin: 12px 0px 12px 0px;
}
.swiper_slide{
}
.title{
  padding: 30px 30px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title h3{
  font-size: 21px;
  /* font-weight: bold; */
  color: #333;
  font-family: 'Jua', sans-serif !important;
}
.title p{
  font-size: 15px;
  color: #814ad8;
}