.header_container{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  color: white;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.092);
}
.header_container h1{
  font-size: 22px;
  font-weight: bold;
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 2px;
  margin-left: 15px;
}
.header_container.add_background{
  background-color: white;
  color: #814ad8;
  height: 55px; 
}
.logo_container{
  display: flex;
  align-items: center;
}
.logo_container h2{
  margin-left: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-right: -5px;
}

.menu_icon{
  margin-left: 8px;
  margin-right: 15px;
  font-size: 26px;
}

.border{
  height: 10px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.city_dialog_container{
  width: 240px;
  min-height: fit-content;
  max-height: 270px;
  padding: 0 15px 10px 15px;
}
.city_dialog_container h1{
  font-size: 18px;
  font-weight: bold;
  color: black;
  position: fixed;
  background-color: white;
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
}
.item_container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
  overflow-y: scroll;
  margin-top: 45px;
}

.item_container .item{
  width: 100%;
  padding: 10px 5px 8px 5px;
  margin-left: 10px;
  /* border-bottom: 2px solid #f5efff; */
  font-size: 17px;
  color: #333;
}
.item.selected{
  color: #6027bb;
  font-weight: bold;
}