.swiper_container{

}
.image_container{
  height: 410px;
  overflow: hidden;
  position: relative;
}
.blur{
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0,0,0, 0.2),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0));
  backdrop-filter: blur(9px);
  word-break: keep-all;
  padding-bottom: 20px;
}
.swiper_container .overlay{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.overlay .content{
  height: 200px;
  padding: 0 30px;
  width: 100%;
}

.overlay .content h2{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 1px;
  line-height: 1.38;
  font-size: 25px;
  color: white;
}
.content h3{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* font-family: 'Jua', sans-serif !important; */
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  line-height: 1.2;
  white-space:pre-wrap;
}
.overlay .content h4{
  color: white;
  font-family:'Nanum Gothic', sans-serif !important;
  font-weight: bold;
  font-size: 15px;
  white-space: pre-line;
  line-height: 1.3;
  margin-top: 4px;
}
.overlay .content h5{
  margin-top: 10px;
  color:white;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: bold;
}

.thumbnail_container .thumbnail_image_container{
  position: relative;
  width: 356.4px;
  height: 215.6px;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.thumbnail_container{
  /* display: flex;
  justify-content: center; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.thumbnail_overlay{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 20px;
  width: 200px;
  height: 150px;
  /* display: flex;
  align-items: center;
  flex-wrap: wrap; */
}
.thumbnail_overlay.white{
  color:white;
}
.thumbnail_overlay.black{
  color: black;
}

.thumbnail_overlay h2{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.35;
  -webkit-box-orient: vertical;
  font-size: 21px;
  font-family: "Jua", sans-serif !important;
  min-height: 49px;

}
.thumbnail_overlay h3{
  min-height: 60px;
  font-size: 20px;
  word-break: keep-all;
  line-height: 1.1;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  margin-top: 10px;
}
.thumbnail_container h4{
  font-size: 16px;
  margin-top: 10px;
}
.button_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.button{
  font-family: 'Jua', sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 16px !important;
}