.main_container{
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.header_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 40px;
  margin-top: 10px;
  align-items: center;
  font-weight: bold;
  color: rgb(68, 68, 68);
  padding-left: 10px;
  z-index: 9999999;
}
.header_container p{
  font-size: 20px;
  margin-top: -2px;
}
.logo_container{
  display: flex;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  height: 220px;
  align-content: center;
  margin-top: 20px;
}