.main_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button_container{
  width: 70%;
  margin-top: 10px; 
}
.button_container2{
  width: 70%;
  margin-top: 2px;
}
.button_container span{
  font-size: 17px;
  padding-left: 10px;
}

.button_container2 span{
  font-size: 17px;
  padding-left: 10px;
}

.button_container3{
  width: 70%;
  margin-top: 2px;
  margin-bottom: 30px;
}

.button_container3 span{
  font-size: 17px;
  padding-left: 10px;
}