.image_container{
  object-fit: cover !important;
  position: relative;
  height: 100px;
  margin-top: 100px;
}
.no_family_container p{
  text-align: center;
  margin-top: 30px;
  word-break: keep-all;
  margin-bottom: 15px;
}
.no_family_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dialog_container{
  padding: 10px 10px;
  border-radius: 5px;
}
.dialog_container h1{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.dialog_container p{
  margin-bottom: 5px;
  font-size: 15px;
  word-break: keep-all;
}

.search_container{
  display: flex;
  align-items: center;
}
.loader_container{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.user_list_container{
margin-top: 10px;
max-height: 300px;
overflow-y: scroll;
}
.header{
  display: flex;
  flex-wrap: wrap;
}
.user_list_container .header h2{border-right: 1px solid black}
.user_list_container .header h3{border-right: 1px solid black}
.user_list_container h2{
  width: 25%;
  text-align: center;

}
.user_list_container h3{
  width: 25%;
  text-align: center;

}
.user_list_container h4{
  width:49%;
  text-align: center;
}
.user_list_container .item_container h4{

}
.item_container{
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(200,200,200);
  align-items: center;
}