.header_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 40px;
  margin-top: 10px;
  align-items: center;
  font-weight: bold;
  color: rgb(68, 68, 68);
  z-index: 9999999;
  justify-content: center;
  position: relative;
}
.header_container p{
  font-size: 20px;
  margin-top: -2px;
}
.icon_container{
  position: absolute;
  left: 20px;
}