.main_container{
  width: 100%;
  padding-bottom: 60px;
}
.content_container{
  padding: 10px 20px;
}
.button_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button{
  margin: 30px 0!important;
  width: 90% !important;
  background-color: #8659d0 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}

.backdrop_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.backdrop_container p{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.backdrop_container h1{
  margin-top: 18px;
  font-size: 18px;
}
.backdrop_container h2{
  margin-top: 8px;
  font-size: 18px;
}