.img_container{
  max-width: 250px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  height: fit-content !important;

}
.img_container h1{
  position:absolute;
  top: 12px;
  left: 13px;
  color: white;

}