.main_container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}
.title_container{
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 12px 10px 12px;
  width:100%;
}
.title_container p {
  margin-left: 10px;
}
.img_container{
  width: 100px;
  height: 100px;
  object-fit: cover !important;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_button{
  width: 100%;
  text-align: center;
}
.hide_input{
  display: none;
}
.input_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
    /* font-family: 'SUIT-Medium', 'Pretendard-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.input_container p{
  font-size: 14px;
  margin-top: 3px;
  width: 100%;
}
.red_logout{
  margin-top: 20px !important;
  text-align: end;
  width: 100%;
  color: red;
  font-size: 14px;
}


.border{
  width: 135px;
  height: 1.5px;
  background-color: rgb(106, 106, 106);
  margin-top: 15px;
}

.team_select{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.form_container{
  padding: 10px 45px;
  width: 100%;
}

@media (max-width:350px) {
  .input_container{
    padding: 0 20px;
  }
}

.alert_container{
  width: 300px;
  word-break: keep-all;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alert_container p {
  margin: 10px 20px 10px 20px;
}