.main_container{
  overflow-y: scroll;
  height: 100%;
}
.item_container{
  background-color: #fff;
  color: black;
  padding: 18px 18px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid rgb(235, 235, 235);
}
.item_container h1{
  margin: 10px 0 18px 0;
  font-size: 18px;
  width: 100%;
}

.content_container{
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  align-items: center;
  padding: 10px 8px 10px 0;
}
.content_container p{
  margin-left: 12px;
  font-size: 15px;
}